name: Bump version

on:
  push:
    branches: [ master ]

jobs:
  tag_version:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        REPO_OWNER: TrueVote
        DEFAULT_BUMP: patch
